.intro__list {
  margin: 33px 0;
  font-style: normal;
  font-size: 12px;
  line-height: 18px;
  list-style: none;
  color: #FFFFFF;
  padding: 0px;
  white-space: nowrap;
}

/*todo ->to files*/
.intro__list_f-light {
  font-weight: 400;
  margin: 0;
}

.intro__list_f-normal {
  font-weight: 700;
  margin: 0;
}