.header {
    display: flex;
    max-height: 52px;
    max-width: 1184px;
    margin: 28px 48px 56px;
    justify-content: space-between;    
}

@media screen and (max-width: 375px) {
    .header {
      margin: 16px 16px 0;
      max-height: 42px;
    }
}

  @media screen and (max-width: 1024px) {
    .header {
      margin: 28px 48px 48px;
    }
  }
  