@import url(./__image/place__image.css);
@import url(./__paragraph/place__paragraph.css);
@import url(./__title/place__title.css);
@import url(./__website/place__website.css);
@import url(./__website-url-heading/place__website-url-heading.css);
@import url(./__website-link/place__website-link.css);

.place {
    display: grid;
    max-width: 984px;
    margin-bottom: 80px;    
    grid-template-columns: 472px 1fr;
    grid-template-rows: minmax(69, 134) 1fr;
    grid-column-gap: 40px;
    grid-row-gap: 40px;
    grid-template-areas:
    "title url"
    "image paragraph";
  }

.place:last-of-type {
  margin: 0;
}
  